/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  $app-bar-background: #263238,
  $card-border-radius: 0,
  $color-pack: false,
  $container-max-widths: (
    'xl': 1440px,
    'xxl': 1440px,
  ),
  $divider-border-color: rgb(var(--v-theme-primary)),
  $divider-opacity: 1,
  $footer-background: rgb(var(--v-theme-background))
);
